<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('allpost') }}">All Posts</a></li>
                <li><a href="{{ url_for('new_blog') }}">Add blog</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {%if 'username' in session%}
                <h1> {{session['username']}} logged in </h1>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                
            </ul>
       </nav>
    </head>
<body>
    {% block content %}
    
    {% endblock %}

</body>
</html>
